html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

*, *::before, *::after {
    box-sizing: inherit;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

body {
    font-size: 16px;
    margin: 0 auto;
    background: linear-gradient(90deg, #fc419a 0 50%, #373737  50% 100%);
    font-family: 'Barbie', sans-serif;
    margin-left: 2vw;
    margin-right: 2vw;
    color: #fff;
}

.svg {
    width: 40vw;
    height: auto;
    transform: rotate(21deg);
}

.svg {
    width: 45vw;
    height: auto;
    margin-bottom: 5vw;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bar {
    font-size: 3vw;
}

.barbie {
    margin-top: 1vw;
    font-size: 5vw;
}

.word {
    font-size: 2vw;
    font-family: 'Splash', cursive;
}

.oppen {
    margin-top: 1vw;
    font-size: 3.5vw;
    font-family: 'Splash', cursive;
}