html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

*, *::before, *::after {
    box-sizing: inherit;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

body {
    font-size: 16px;
    margin: 0 auto;
    background: linear-gradient(90deg, #fc419a 0 50%, #373737  50% 100%);
    font-family: 'Barbie', sans-serif;
    margin-left: 2vw;
    margin-right: 2vw;
    color: #fff;
}

.svg {
    width: 40vw;
    height: auto;
    transform: rotate(21deg);
}

.svg2 {
    width: 45vw;
    height: auto;
    margin-bottom: 5vw;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bar {
    font-size: 3vw;
}

.barbie {
    margin-top: 1vw;
    font-size: 5vw;
}

.word {
    font-size: 2vw;
    font-family: 'Splash', cursive;
}

.oppen {
    margin-top: 1vw;
    font-size: 3.5vw;
    font-family: 'Splash', cursive;
}

main {
    display: flex;
    justify-content: center;
}

.navigation {
    margin-top: -4vw;
    display: flex;
    width: 80vw;
    justify-content: end;
}

.bar1 {
    display: flex;
    width: 1.5vw;
    height: 1.5vw;
    margin: 1vw;
    cursor: pointer;
    background-color: #fff;
    opacity: 0.5;
    border-radius: 50%;
    transition: all 0.4s ease;
}

.bar1:hover {
    transform: scale(1.8);
    opacity: 1;
}

input[name="r"] {
    visibility: hidden;
    height: 0;
    width: 0;
}

.slides {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 80vw;
    overflow: hidden;
}

.width-slide {
    max-width: 320vw;
    display: flex;
    flex-direction: row;
    transition: all 0.3s ease-in-out;
}

.img {
    width: 80vw;
    height: auto;
    box-shadow: 1vw 1vw 2vw 2vw rgba(255, 225, 225, 0.3);
}

.text {
    color: #fff ;
    font-size: 2.8vw;
    font-family: 'Barrio', cursive;
    opacity: 0.8;
}

.center-img {
    width: 80vw;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    align-items: flex-start;
}

#r1:checked ~ .go {
    transform: translateX(0);
}

#r2:checked ~ .go {
    transform: translateX(-80vw);
}

#r3:checked ~ .go {
    transform: translateX(-160vw);
}

#r4:checked ~ .go {
    transform: translateX(-240vw);
}

#r1:checked ~ #controls label:nth-child(1),
#r2:checked ~ #controls label:nth-child(2){
    background-color: black;
    opacity: 0.8;
    transform: scale(1.5);
}

#r3:checked ~ #controls label:nth-child(3),
#r4:checked ~ #controls label:nth-child(4) {
    background-color: #fc419a;
    opacity: 0.8;
    transform: scale(1.5);
}

#r1:checked ~ #controls label:nth-child(1):hover,
#r2:checked ~ #controls label:nth-child(2):hover {
    background-color: black;
    opacity: 0.5;
    transform: scale(1.1);
}

#r3:checked ~ #controls label:nth-child(3):hover,
#r4:checked ~ #controls label:nth-child(4):hover {
    background-color: #fc419a;
    opacity: 0.5;
    transform: scale(1.1);
}

.media {
    display: none;
}

@media (max-width: 48rem) {
    .media {
        display: flex;
        width: 320vw;
        transition: all 0.3s;
    }

    .text1 {
        width: 80vw;
        color: #fff ;
        font-size: 3vw;
        font-family: 'Barrio', cursive;
        opacity: 0.8;
        margin-top: 1vw;
        text-align: center;
    }

    .text {
        display: none;
    }

    .navigation {
        margin-top: 1vw;
        display: flex;
        width: 80vw;
        display: flex;
        justify-content: center;
    }

    #r1:checked ~ #text-media {
        transform: translateX(0);
    }

    #r2:checked ~ #text-media {
        transform: translateX(-80vw);
    }

    #r3:checked ~ #text-media {
        transform: translateX(-160vw);
    }

    #r4:checked ~ #text-media {
        transform: translateX(-240vw);
    }
}
